*{
    margin:0;
    padding:0;
}
.table_cont{
    margin-top: 60px;
}
.table_cont tr th:first-child, .table_cont tr td:first-child{
    width: 10%;
}
.table_cont thead{
    background-color: #4C9ED9;
    color: #f5f5f5;
    box-shadow: 5px 11px 13px #ddd;
}
.table_cont .btnSave{
    border-radius: 0;
    padding: 4px 15px;
}
.customBtn{
  width:70px;
}

.savedRow{
  background-color: #E0E0E0;
}
